.hero {
  padding: 210px 0 168px;

  @include small-tablet {
    padding: 170px 0 128px;
  }

  @include mobile {
    padding: 170px 0 80px;
  }

  &-decor {
    &::before {
      top: 20px;
      left: 50px;
    }

    &::after {
      top: 400px;
      right: -0px;
    }
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      text-align: center;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 121px;
    max-width: 776px;
    font-weight: 600;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);

    @include small-tablet {
      margin-bottom: 80px;
      text-align: center;

      & br {
        display: none;
      }
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__tabs {
    &-list {
      @include flex-align-center;
      gap: 16px;
      flex-wrap: wrap;
      margin-bottom: 80px;

      @include tablet {
        justify-content: center;
      }

      @include mobile {
        margin-bottom: 40px;
      }
    }

    &-link {
      display: block;
      padding: 10px 14px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--neutral-color-150);
      transition: color var(--transition);

      @include small-mobile {
        padding: 6px 8px;
      }

      &:hover {
        color: var(--neutral-color-100);
      }

      &--active {
        font-weight: 600;
        text-decoration: underline;
        color: var(--neutral-color-100);
        text-decoration-skip-ink: none;
      }
    }
  }

  &__slider {
    &-item {
      width: auto;
      max-width: 515px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-author {
      font-style: normal;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-deskr {
      max-width: 464px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: var(--neutral-color-150);
    }
  }

  &__pagination.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: none;
  }

  &__pagination {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: var(--neutral-color-150);
      opacity: 0.5;

      @include small-mobile {
        width: 10px;
        height: 10px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: var(--neutral-color-100);
    }
  }
}
