.section {
  padding: 160px 0;

  @include tablet {
    padding: 100px 0;
  }
  @include small-mobile {
    padding: 80px 0;
  }

  &__top {
    @include flex-all-between;
    margin-bottom: 80px;

    @include mobile {
      @include flex-column;
      margin-bottom: 40px;
    }
  }

  &__header {
    @include flex-column;
    max-width: 435px;

    @include mobile {
      @include flex-column-all-center;
      text-align: center;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__btns {
    @include flex-align-center;
    gap: 16px;
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    & svg path {
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--neutral-color-100);
      background-color: var(--neutral-color-100);

      & svg path {
        fill: var(--neutral-color-10);
      }
    }

    &--next {
      transform: rotate(-180deg);
    }
  }

  &__article {
    max-width: 406px;

    &--big {
      max-width: 476px;
    }

    &-img {
      margin-bottom: 24px;

      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);

      @include mobile {
        margin-bottom: 8px;
      }
    }

    &-text {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);

      @include mobile {
        margin-bottom: 12px;
      }
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      padding: 16px 32px;
      color: var(--neutral-color-100);
      transition: var(--transition);

      &:hover {
        color: var(--neutral-color-10);
        background-color: var(--neutral-color-100);
      }
    }
  }
}
