<section class="articles">
  <div class="container">
    <div class="articles__inner">
      <div class="articles__item">
        <img
          loading="lazy"
          class="articles__item-img"
          src="./assets/image/blog/articles-1.jpg"
          width="584"
          height="751"
          alt="There is a tablet on the table and chairs around the table"
        />
        <h2 class="articles__item-title heading-h3">
          How we perform long-running tasks using AWS services
        </h2>
        <p class="articles__item-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
      <div class="articles__item">
        <img
          loading="lazy"
          class="articles__item-img"
          src="./assets/image/blog/articles-2.jpg"
          width="584"
          height="507"
          alt="Three men are sitting at a workplace and discussing"
        />
        <h2 class="articles__item-title heading-h3">
          How to ask when doing User Research
        </h2>
        <p class="articles__item-descr text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </div>
      <div class="articles__item">
        <img
          loading="lazy"
          class="articles__item-img"
          src="./assets/image/blog/articles-3.jpg"
          width="584"
          height="507"
          alt="A man is sitting at a table and holding a meeting"
        />
        <h2 class="articles__item-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h2>
        <p class="articles__item-descr text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
      <div class="articles__item articles__item-var">
        <img
          loading="lazy"
          class="articles__item-img"
          src="./assets/image/blog/articles-4.jpg"
          width="584"
          height="751"
          alt="A man stands in front of a table holding a meeting"
        />
        <h2 class="articles__item-title heading-h3">
          Webflow Break the Coding Barrier
        </h2>
        <p class="articles__item-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
    </div>
  </div>
</section>
