<section class="hero hero-decor">
  <div class="container">
    <div class="hero__header">
      <h2 class="hero__title heading-h1">Activity & Updates</h2>
      <p class="hero__subtitle text-p-subtitle">
        Our biggest challenge is making sure we're
        <br />
        always designing and building products that
        <br />
        will help you run your business better.
      </p>
    </div>
  </div>
    <div class="hero__body">
      <div class="container">
        <div class="hero__tab-container tab-container">
          <ul class="hero__tab-controls tab-controls">
            <li class="tab-controls__item">
              <a
                class="tab-controls__link tab-controls__link--active text-p-default"
                href="#tab1"
              >
                View all
              </a>
            </li>
            <li class="tab-controls__item">
              <a class="tab-controls__link text-p-default" href="#tab2">
                Design
              </a>
            </li>
            <li class="tab-controls__item">
              <a class="tab-controls__link text-p-default" href="#tab3">
                Design
              </a>
            </li>
            <li class="tab-controls__item">
              <a class="tab-controls__link text-p-default" href="#tab4">
                Product
              </a>
            </li>
            <li class="tab-controls__item">
              <a class="tab-controls__link text-p-default" href="#tab5">
                Software Development
              </a>
            </li>
            <li class="tab-controls__item">
              <a class="tab-controls__link text-p-default" href="#tab6">
                Customer Success
              </a>
            </li>
          </ul>
          <div class="hero__tab-content tab-content tab-content--show" id="tab1">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
              </div>
            </div>
              <div class="hero__pagination"></div>
          </div>
          <div class="hero__tab-content tab-content" id="tab2">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__nav">
              <div class="hero__pagination"></div>
            </div>
          </div>
          <div class="hero__tab-content tab-content" id="tab3">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__nav">
              <div class="hero__pagination"></div>
            </div>
          </div>
          <div class="hero__tab-content tab-content" id="tab4">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__nav">
              <div class="hero__pagination"></div>
            </div>
          </div>
          <div class="hero__tab-content tab-content" id="tab5">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__nav">
              <div class="hero__pagination"></div>
            </div>
          </div>
          <div class="hero__tab-content tab-content" id="tab6">
            <div class="hero__slider swiper">
              <div class="hero__wrapper swiper-wrapper">
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-2-img.jpg"
                    width="515"
                    height="428"
                    alt="Two women are sitting at a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Overview of the Design Principles
                  </h3>
                  <p class="hero__article-deskr">
                    What are Design Principles?… To understand design principles,
                    we first discuss the principles.
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-3-img.jpg"
                    width="379"
                    height="428"
                    alt="A man and a woman give high fives at a table with a laptop"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Using Grid in website design
                  </h3>
                  <p class="hero__article-deskr">
                    Andi: "What's the grid like?" Toni: “Like below…”
                  </p>
                </div>
                <div class="swiper-slide hero__article">
                  <img
                    loading="lazy"
                    class="hero__article-img"
                    src="./assets/image/blog/hero-slide-1-img.jpg"
                    width="515"
                    height="428"
                    alt="Woman is sitting at a table and a laptop with a mug in her hand"
                  />
                  <div class="hero__article-head text-p-small">
                    <div class="hero__article-date">
                      Published in Insight
                      <time datetime="2024-01-30">Jan 30, 2024</time>
                    </div>
                    <address class="hero__article-author">
                      by : Albert Sans
                    </address>
                  </div>
                  <h3 class="hero__article-title heading-h5">
                    Practice making User Flow
                  </h3>
                  <p class="hero__article-deskr">
                    In this article, we'll cover how to create user flows
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__nav">
              <div class="hero__pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
