.hero {
  padding: 204px 0 32px;

  @include mobile {
    padding: 144px 0 12px;
  }

  &__title {
    margin-bottom: 100px;
    max-width: 741px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__map {
    @include flex-all-between;
    gap: 86px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      gap: 36px;
    }
  }

  &__contacts {
    max-width: 176px;

    @include tablet {
      @include flex-all-center;
      gap: 40px;
      max-width: 100%;
    }

    @include small-tablet {
      flex-direction: column;
      text-align: center;
    }

    @include mobile {
      gap: 20px;
    }

    &-item {
      border-bottom: 1px solid var(--neutral-color-50);
      padding-bottom: 14px;

      @include small-tablet {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 0;
        }
      }

      &-title {
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 133%;
        color: var(--neutral-color-100);
      }

      &-descr {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 150%;
        color: var(--neutral-color-150);
      }

      &-link {
        font-weight: 500;
        line-height: 162%;
        color: var(--neutral-color-100);
      }
    }
  }
}

// Map

#map {
  width: 100%;
  height: 545px;
}

.marker-icon {
  position: relative;
  width: 54px;
  height: 54px;
  background: url('../assets/icons/location-icon.svg');
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -100%);
  cursor: pointer;
}

[class*='copyrights'] {
  /* display: none !important; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#map:hover [class*='copyrights'] {
  opacity: 1;
}

/* Baloon */

.balloon-content {
  position: absolute;
  right: -65px;
  bottom: 70px;
  border-radius: 8px;
  padding: 12px 16px;
  width: 180px;
  height: 88px;
  box-shadow: 0 16px 24px 0 #1e1e1e14;
  font-size: 12px;
  line-height: 150%;
  color: var(--neutral-color-150);
  background: #fff;

  & span {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-color-90);
  }
}
